<%= form_for @comment, remote: true do |f| %>
  <%= f.text_area :content, value: @comment.content, rows: 5, id: "content-comment" %>
  <div class="row">
    <div class="col-md-2 col-md-offset-10 update-comment">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
